<p>home-page works! </p>
<div class="content">
<mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Shop</mat-card-title>
        </mat-card-header>
        <img mat-card-image  class="image-set" src="assets/images/Iimage.jpg">
        <mat-card-content>
          <p>
            Anything that you want.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
<img class="width:100px; height:100px;"src="assets/images/Iimage.jpg">
